@page "/categories"

@inject CategoryService CategoryService

<h1>Kategorier</h1>
<button @onclick="() => ToggleDetailWindow(0)">Ny Kategori</button>
<div>
    @if (detailWindow)
    {
        <DetailWindow detailModel=@detailModel Title="Kategori" OnCloseClickCallback="() => ToggleDetailWindow(0)" OnSaveClickCallback="() => GotSaved()" />
    }
    @if (categories == null)
    {
        <p><em>Henter...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var field in categories[0].GetFields())
                    {
                        <th>@field.Key.Text</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var category in categories)
                {
                    <tr class="clickable" @onclick="() => ToggleDetailWindow(category.categoryId)">
                        @foreach (var field in category.GetFields())
                        {
                            <td>@field.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private Category[] categories;
    private bool detailWindow = false;
    private Category detailModel;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => { categories = CategoryService.GetCategories(); });
    }

    void ToggleDetailWindow(int id)
    {
        if (!detailWindow)
            if (id != 0)
                detailModel = categories.Where(e => e.categoryId == id).FirstOrDefault();
            else
            {
                detailModel = new Category();
            }

        else
            detailModel = null;
        detailWindow = !detailWindow;

    }

    public async Task GotSaved()
    {
        await Task.Run(() =>
        {
            if (detailModel.categoryId == 0 && detailModel.hasChanged)
            {
                CategoryService.PostCategory(detailModel);
            }
            if (detailModel.deleted)
            {
                CategoryService.DropCategory(detailModel);
            }
            foreach (Category category in categories)
            {
                if (category.hasChanged)
                {
                    if (category.categoryId == 0)
                    {
                        CategoryService.PostCategory(category);
                    }
                    else
                    {
                        CategoryService.UpdateCategory(category);
                    }

                }
            }
            categories = CategoryService.GetCategories();
        });
        ToggleDetailWindow(0);
    }
}
