.page {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 20vh auto;
}

img {
    width: 601px;
    height: 169px;
    margin: 0 auto;
}

div {
    width: 300px;
    margin: 10px auto;
}

label {
    display: block;
}

input {
    width: 300px;
}

button {
    display: flex;
    margin: 10px auto;
}