@inherits LayoutComponentBase

<div class="page">
    <div class="banner">
        <a href=".">
            <img src="./img/auto.png" height="48px" alt="Auto Kontoret" />
        </a>
    </div>
    

    <div class="main">
        <div class="menu">
            <NavMenu />
        </div>
        <div class="content verdana">
            @Body
        </div>
    </div>
</div>
