@page "/customers"

@inject CustomerService CustomerService

<h1>Kunder</h1>
<button @onclick="() => ToggleDetailWindow(0)">Ny Kunde</button>
<div>
    @if (detailWindow)
    {
        <DetailWindow detailModel=@detailModel Title="Kunde" OnCloseClickCallback="() => ToggleDetailWindow(0)" OnSaveClickCallback="() => GotSaved()" />
    }
    @if (customers == null)
    {
        <p><em>Henter...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var field in customers[0].GetFields())
                    {
                        <th>@field.Key.Text</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in customers)
                {
                    <tr class="clickable" @onclick="() => ToggleDetailWindow(customer.customerID)">
                        @foreach (var field in customer.GetFields())
                        {
                            <td>@field.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private Customer[] customers;
    private bool detailWindow = false;
    private Customer detailModel;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => { customers = CustomerService.GetCustomers(); });
    }

    void ToggleDetailWindow(int id)
    {
        if (!detailWindow)
            if (id != 0)
                detailModel = customers.Where(e => e.customerID == id).FirstOrDefault();
            else
            {
                detailModel = new Customer();
            }

        else
            detailModel = null;
        detailWindow = !detailWindow;

    }

    public async Task GotSaved()
    {
        await Task.Run(() =>
        {
            if (detailModel.customerID == 0 && detailModel.hasChanged)
            {
                CustomerService.PostCustomer(detailModel);
            }
            if (detailModel.deleted)
            {
                CustomerService.DropCustomer(detailModel);
            }
            foreach (Customer customer in customers)
            {
                if (customer.hasChanged)
                {
                    if (customer.customerID == 0)
                    {
                        CustomerService.PostCustomer(customer);
                    }
                    else
                    {
                        CustomerService.UpdateCustomer(customer);
                    }

                }
            }
            customers = CustomerService.GetCustomers();
        });
        ToggleDetailWindow(0);
    }
}
