.table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
}

th {
    width: 10vw;
    text-align: left;
    border-bottom: solid #a49390 1px;
}

td {
    width: 10vw;
}

.clickable:hover{
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    cursor: pointer;
}