@page "/vehicles"

@inject VehicleService VehicleService

<h1>Køretøjer</h1>
<button @onclick="() => ToggleDetailWindow(0)">Nyt Køretøj</button>
<div>
    @if (detailWindow)
    {
        <DetailWindow detailModel=@detailModel Title="Køretøj" OnCloseClickCallback="() => ToggleDetailWindow(0)" OnSaveClickCallback="() => GotSaved()" />
    }
    @if (vehicles == null)
    {
        <p><em>Henter...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var field in vehicles[0].GetFields())
                    {
                        <th>@field.Key.Text</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in vehicles)
                {
                    <tr class="clickable" @onclick="() => ToggleDetailWindow(vehicle.vehicleId)">
                        @foreach (var field in vehicle.GetFields())
                        {
                            <td>@field.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private Vehicle[] vehicles;
    private bool detailWindow = false;
    private Vehicle detailModel;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => { vehicles = VehicleService.GetVehicles(); });
    }

    void ToggleDetailWindow(int id)
    {
        if (!detailWindow)
            if (id != 0)
                detailModel = vehicles.Where(e => e.vehicleId == id).FirstOrDefault();
            else
            {
                detailModel = new Vehicle();
            }

        else
            detailModel = null;
        detailWindow = !detailWindow;

    }

    public async Task GotSaved()
    {
        await Task.Run(() =>
        {
            if (detailModel.vehicleId == 0 && detailModel.hasChanged)
            {
                VehicleService.PostVehicle(detailModel);
            }
            if (detailModel.deleted)
            {
                VehicleService.DropVehicle(detailModel);
            }
            foreach (Vehicle vehicle in vehicles)
            {
                if (vehicle.hasChanged)
                {
                    if (vehicle.vehicleId == 0)
                    {
                        VehicleService.PostVehicle(vehicle);
                    }
                    else
                    {
                        VehicleService.UpdateVehicle(vehicle);
                    }

                }
            }
            vehicles = VehicleService.GetVehicles();
        });
        ToggleDetailWindow(0);
    }
}
